/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        zDance: zDance {
            compatible = "zmk,behavior-tap-dance";
            label = "ZDANCE";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp H>;

            tapping-term-ms = <200>;
        };

        td_mytd: tap_dance_my {
            compatible = "zmk,behavior-tap-dance";

            label = "TAP_DANCE_MY;
            #

            binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LSHFT SPACE>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q    &kp W    &kp E           &kp R           &td_mytd      &kp Y            &kp U        &kp I         &kp O    &kp P     &kp BSLH
&kp LCTRL  &lt 3 A  &lt 2 S  &kp D           &kp F           &lt 2 G       &kp H            &kp A        &kp A         &kp B    &kp B     &kp SQT
&kp LSHFT  &kp Z    &kp X    &mt LEFT_WIN C  &mt LEFT_ALT V  &mt HOME B    &mt HOME N       &kp M        &kp COMMA     &kp DOT  &kp FSLH  &mt F1 RET
                             &mo 4           &kp SPACE       &kp F22       &lt 3 BACKSPACE  &lt 2 SPACE  &lt 4 DELETE
            >;
        };

        Bluetooth {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&none  &none         &none         &none         &none         &none           &none  &none  &none       &none  &none  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none       &none  &none  &none
&none  &none         &none         &none         &none         &none           &none  &none  &none       &none  &none  &none
                                   &none         &none         &none           &none  &none  &bt BT_CLR
            >;
        };

        Symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp COMMA    &kp PERIOD         &kp EXCLAMATION  &kp EQUAL  &kp DOLLAR  &kp MINUS    &kp CARET  &kp LESS_THAN  &kp EQUAL             &kp GREATER_THAN  &kp PERIOD       &kp COMMA
&kp PERCENT  &kp EXCLAMATION    &kp EQUAL        &kp B      &kp A       &kp B        &kp SEMI   &kp SLASH      &kp NON_US_BACKSLASH  &kp EQUAL         &kp EXCLAMATION  &kp GRAVE
&kp HASH     &kp DOUBLE_QUOTES  &kp SQT          &kp GRAVE  &kp DOLLAR  &trans       &kp UNDER  &kp PLUS       &trans                &trans            &kp PIPE         &kp TILDE
                                                 &trans     &trans      &trans       &trans     &trans         &trans
            >;
        };

        Arrow {
            bindings = <
&none   &none   &kp HOME  &kp UP          &kp END    &kp PAGE_UP      &kp PAGE_UP    &kp HOME                   &kp UP          &kp END             &none             &none
&trans  &none   &kp LEFT  &kp DOWN        &kp RIGHT  &kp PAGE_DOWN    &kp PAGE_DOWN  &mt LEFT_SHIFT LEFT_ARROW  &mt LCTRL DOWN  &mt LEFT_ALT RIGHT  &mt LEFT_WIN F24  &none
&trans  &trans  &none     &none           &none      &none            &none          &none                      &none           &none               &none             &none
                          &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT     &kp LEFT_ALT   &kp LCTRL                  &kp LEFT_SHIFT
            >;
        };

        Number {
            bindings = <
&mt TAB EQUAL         &kp N0  &kp N9        &kp N8              &kp N7             &kp N6          &kp DOLLAR   &kp LESS_THAN        &kp EQUAL        &kp GREATER_THAN       &kp HASH            &trans
&mt LCTRL ASTERISK    &kp N1  &kp N2        &kp N3              &kp N4             &kp NUMBER_5    &kp PERCENT  &mt LEFT_SHIFT PLUS  &mt LCTRL MINUS  &mt LEFT_ALT ASTERISK  &mt LEFT_WIN SLASH  &trans
&mt LEFT_SHIFT SLASH  &trans  &kp ASTERISK  &mt LEFT_ALT MINUS  &mt LEFT_ALT PLUS  &kp PERCENT     &mo 5        &kp A                &trans           &trans                 &trans              &trans
                                            &trans              &trans             &trans          &trans       &trans               &trans
            >;
        };

        FKey {
            bindings = <
&trans  &kp F10  &kp F9  &kp F8  &kp F7  &kp F6    &none   &kp F20  &kp F19  &kp F18  &kp F17  &kp F16
&trans  &kp F1   &kp F2  &kp F3  &kp F4  &kp F5    &none   &kp F11  &kp F12  &kp F13  &kp F14  &kp F15
&trans  &trans   &trans  &trans  &trans  &trans    &trans  &kp F21  &kp F22  &kp F23  &kp F24  &trans
                         &trans  &trans  &trans    &trans  &trans   &trans
            >;
        };
    };
};
